<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">

<style shim-shadowdom>
  section {
    width: 200px;
  }

  paper-toggle-button.bluetooth::shadow [checked] .toggle-ink {
    color: #4285f4;
  }

  paper-toggle-button.bluetooth::shadow [checked] .toggle {
    background-color: #4285f4;
  }

  td{
    height: 50px;
    min-width: 70px;
  }

  .spacingMiddle{
    height: 5px;
  }

  .spacingBelow{
    height: 20px;
  }
</style>


<section>
  <div id="buttons"></div>
</section>

<script>
  // SEND BUTTON STATE
  function flipState(button){
    var high = button.checked;
    if(high){
      checkGraphColumns(button.id);
    } 
    else{
      uncheckGraphColumns(button.id);
    }
  }

  var test = metadata;
  var table = document.createElement("table");
  // TO MAKE MORE COLLUMS CHANGE NUM_OF_COLS
  var num_of_cols = 4;
  for(var i = 0; i < test.col_names.length + num_of_cols; i=i+num_of_cols){
    var row = document.createElement("tr");
    for(var j = i; j < test.col_names.length && j < i+num_of_cols; j++){
      //PARENT DIV
      var td = document.createElement("td");

      //DIV FOR LABEL
      var subdiv1 = document.createElement("div");
      var label = document.createTextNode(test.col_names[j]);
      subdiv1.setAttribute("align", "center");
      subdiv1.appendChild(label);

      // SPACING DIV
      spacingDivMiddle = document.createElement("div");
      spacingDivMiddle.setAttribute("class", "spacingMiddle");

      // SPACING DIV
      spacingDivBelow = document.createElement("div");
      spacingDivBelow.setAttribute("class", "spacingBelow");


      // CREATE BUTTON AND STYLE
      var button = document.createElement("paper-toggle-button");
      button.setAttribute("class", "bluetooth");
      button.setAttribute("id", test.col_names[j]);
      button.addEventListener("change", function() {flipState(this);})
      
      // DIV FOR BUTTON
      var subdiv2 = document.createElement("div");
      subdiv2.setAttribute("align", "center");
      subdiv2.appendChild(button);
      
      // APPEND DIVS TOGETHER
      td.appendChild(subdiv1);
      td.appendChild(spacingDivMiddle);
      td.appendChild(subdiv2);
      td.appendChild(spacingDivBelow);
      row.appendChild(td);
    }
    table.appendChild(row);
  }
  buttons.appendChild(table);
</script>
