<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">

<style shim-shadowdom>
  /*body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
  }*/
  
  section {
    width: 200px;
  }

  paper-toggle-button.bluetooth::shadow [checked] .toggle-ink {
    color: #4285f4;
  }

  paper-toggle-button.bluetooth::shadow [checked] .toggle {
    background-color: #4285f4;
  }
</style>


<section>
  <div id="buttons"></div>
</section>

<script>
  // SEND BUTTON STATE
  function flipState(button){
    var high = button.checked;
    if(high){
      checkGraphColumns(button.id);
    } 
    else{
      uncheckGraphColumns(button.id);
    }
  }

  // var test = {
  //   "col_names": ["col1", "col2"],
  //   "col_num" : 3,
  //   "num_rows": 50,
  //   "date": "April 18, 2015",
  //   "file_size": 1114
  // };
  // console.log(test.col_names);
  var test = metadata;
  var div = document.createElement("div");

  var colors = ["red", "blue", "black"];

  for(var i =0; i < test.col_names.length; i++) {
    //PARENT DIV
    var text = document.createElement("div");
    text.style.height="50px";
    text.style.width="100px";

    //DIV FOR LABEL
    var subdiv1 = document.createElement("div");
    var label = document.createTextNode(test.col_names[i]);
    subdiv1.setAttribute("align", "center");
    subdiv1.setAttribute("vertical-align", "bottom");
    subdiv1.appendChild(label);

    // CREATE BUTTON AND STYLE
    var button = document.createElement("paper-toggle-button");
    button.setAttribute("class", "bluetooth");
    button.setAttribute("id", test.col_names[i]);
    button.addEventListener("change", function() {flipState(this);})
    
    // DIV FOR BUTTON
    var subdiv2 = document.createElement("div");
    subdiv2.setAttribute("align", "center");
    subdiv2.setAttribute("vertical-align", "top");
    subdiv2.appendChild(button);
    
    // APPEND DIVS TOGETHER
    text.appendChild(subdiv1);
    text.appendChild(subdiv2);
    div.appendChild(text);
  }
  buttons.appendChild(div);
</script>
