<style>
  section {
    padding: 24px;
  }

  section.first {
      height: 80%;
      background-color: #D1F0FF;
  }

  section.odd {
      height: 90%;
      background-color: #D1F0FF;
  }

  section.even {
      height: 90%;
      background-color: #B2E6FF;
  }

  img.personal {
    width: 150px;
    border-radius: 70%;
    vertical-align: middle;
  }

  img.logo {
    height: 150px;
  }

  .section-title {
    font-size: 2em;
    text-align: center;
    text-decoration: none;
  }
  
  .quotes {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  p {
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
  }

  p.name {
    font-weight: 700;
    font-size: 1.5em;
    font-style: italic;
  }

  .centered {
    text-align: center;
  }
</style>

<section id='mission' class='first'>
  <div class='section-title'>
    Our Mission Statement
  </div>
  <div>
    <p>
      uSee Data is trying to make data visualization easy. Anybody in the world should be able to visualize their datasets without any technical background. Our goal is to give our users dynamic, cutting-edge data visualizations with ease and great interfaces.
    </p>
  </div>
  <div class='centered'>
    <img src='/images/centerpic.png' class='large'></center>
  </div>
</section>

<section id='team' class='even'>
  <div class='section-title'>
    Our Team
    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <div horizontal justified layout>
    <div flex class='centered'>
      <a href='https://www.linkedin.com/in/danieldobalian'><img class='personal' src='/images/dan.jpg'></a>
    </div>
    <div flex class='centered'>
      <a href='https://www.linkedin.com/pub/seongtaek-lim/30/880/414'><img class='personal' src='/images/taek.jpg'></a>
    </div>
    <div flex class='centered'>
      <a href='https://www.linkedin.com/pub/vivian-lo/78/814/8b8'><img class='personal' src='/images/viv.jpg'></a>
    </div>
  </div>
</section>

<section id='testimonials' class='odd'>
  <div class='section-title'>
    Testimonials
  </div>
  <div class='quotes'>
    <p>
      <q>I can see uSee Data being a very useful tool. I work with many researchers who are desperate to reach the public directly. By sharing findings and integrating people into the collection process, the public can be part of the research process. I have interviewed many environmentalists who go out in field teams to do species count surveys and have had a of trouble of combining their data with other groups. This information can be used to make important wildlife decisions, but right now there are not many tools easy enough for volunteers to use. Journalists need data too.</q>
    </p>
    <p class='name centered'>
      - Ashley Ahearn (Journalist, NPR)
    </p>
    <br><br><br><br>
    <p>
      <q>I really like the geological integration with the idea. If smart phones, data mapping, and civilian science were combined, then a lot of conservation research could be made easier. With new technology that can map images into three dimensional figures, hikers could take photos of glaciers in order to help track the size changes. A lot of data about these shrinking glaciers and other natural resources are being lost, but uSee Data could provide an easy way for people to pool together information.</q>
    </p>
    <p class='name centered'>
      - Michael Murray (CEO/Founder, Lucid Design Group, Energy Visualization Company)
    </p>
    <br><br><br><br>
    <p>
      <q>Graphs allow you to not stumble into ambiguity. Words are too ambiguous and can mean anything to anyone. Visuals are solid. Modern journalism is steering away from black and white to graphics. There&apos;s just too much information to digest, people want it fast and simple.</q>
    </p>
    <p class='name centered'>
      - Nikos Zarikos (Editor, Berkeley Tech Review)
    </p>
  </div>
</section>

<section id='contact' class='even'>
  <div class='section-title'>
    Email us your praise
  </div>
</section>