<!DOCTYPE html>
<html>

  <head>
    <title>uSee-Data</title>
    
    <meta name='viewport' 
  content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes' />
    
    <script src='/bower_components/webcomponentsjs/webcomponents.js'></script>
    <script src='/public/js/jquery/jquery-1.11.2.min.js'></script>

    <link rel='import' href='/bower_components/core-header-panel/core-header-panel.html' />
    <link rel='import' href='/bower_components/core-toolbar/core-toolbar.html' />
    <link rel='import' href='/bower_components/paper-tabs/paper-tabs.html' />
    <link rel='import' href='/bower_components/paper-button/paper-button.html' />
    <link rel='import' href='/bower_components/core-icon-button/core-icon-button.html' />
    <link rel='import' href='/bower_components/core-transition/core-transition-css.html' />
    <link rel='import' href='/bower_components/core-overlay/core-overlay.html' />
    <link rel='import' href='/bower_components/paper-toast/paper-toast.html' />
    <link rel='import' href='/bower_components/paper-input/paper-input.html' />
    <link rel='import' href='/bower_components/paper-input/paper-autogrow-textarea.html' />
    <link rel='import' href='/bower_components/paper-input/paper-input-decorator.html' />
    <link rel='import' href='/bower_components/paper-input/paper-char-counter.html' />

    <link href='http://fonts.googleapis.com/css?family=Lato:200,400,700' rel='stylesheet' type='text/css' />

    <style shim-shadowdom>

      html, body {
        height: 100%;
      }

      body {
        margin: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 200;
      }

      core-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #eee;
      }

      .content {
        height: 1000px;
        background: white;
      }

      .sub-left {
        float: left;
        width: 30%;
        text-align: center;
      }

      .sub-right {
        float: right;
        width: 70%;
      }

      #rotateStatus {
        margin-left: 100px;
      }
    </style>
  </head>
  
  <body unresolved>
    <core-header-panel mode='waterfall-tall' tallClass='medium-tall'>
      
      <% include partials/header_small %>

      <div class='content'>
        <script>
          var metadata = <%-JSON.stringify(metadata)%>;
          var data = <%-JSON.stringify(data)%>;
          var chart_reqs = <%-JSON.stringify(chart_reqs)%>;
        </script>
        
        <div class='sub-left'>
          <% include partials/fieldSelector %>
          <% include partials/chartSelector %>
        </div>

        <div class='sub-right'>
          <% include partials/chart %>

          <div>
            <paper-input id='xval' onkeydown='if(event.keyCode == 13) {updateXAxis()}' label='X-Axis Title' floatingLabel></paper-input>
            <paper-input id='yval' onkeydown='if(event.keyCode == 13) {updateYAxis()}' label='Y-Axis Title' floatingLabel></paper-input>
            <paper-toggle-button id='rotateStatus' class='bluetooth' onclick='updateRotate()'></paper-toggle-button>Rotate
          </div>
          <div class='export'>
            <paper-button raised id='embed-button' onclick='document.querySelector("#toast").show()' style='background-color:#4fa7dd'>Embed</paper-button>
            <paper-toast id='toast' text='SVG Copied to Clipboard'></paper-toast>
          </div>
        </div>
      </div>
    </core-header-panel>
    <input type='hidden' id='hidden-input' value='' />

    <script src='/public/js/zclip/jquery.zclip.min.js'></script>
    <script>
    var svg_text;
      $(document).ready(function () {
        $('#hidden-input').val(svg_text);
        $('#embed-button').zclip({
          path: 'http://www.steamdev.com/zclip/js/ZeroClipboard.swf',
          copy: function () {
            return $('input#hidden-input').val();
          }
        });
      });
    </script>
  </body>
</html>
