<!DOCTYPE html>
<html>

  <head>
    <script src='/bower_components/webcomponentsjs/webcomponents.js'></script>
    <script src='/public/js/jquery/jquery-1.11.2.min.js'></script>
  </head>
  
  <body>
    This is a visualizer that runs after uploading.
    <script>
      var metadata = <%-JSON.stringify(metadata)%>;
      var data = <%-JSON.stringify(data)%>;
    </script>
  </body>

</html>
